.error, .errori, .erroru {
    width:300px;
    height:20px;
    height:auto;
    position:absolute;
    right: 70px;
    margin-left:-100px;
    bottom:10px;
    background-color: rgb(110,110,110);
    color: white;
    font-family: Calibri;
    font-size: 22px;
    padding:10px;
    text-align:center;
    border-radius: 4px;
}